rules*/
@font-face {
  font-family: League;
  src: url('fonts/RalewayThin.otf');
}

@font-face {
  font-family: Adec;
  src: url('fonts/ss_adec.otf');
}

@font-face {
  font-family: Market;
  src: url('fonts/circula_medium.otf');
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.tableCell {
  display: table-cell;
}


.table {
  display: table;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.middle {
  vertical-align: middle;
}

.alignBottom {
  vertical-align: bottom;
}

.center {
  text-align: center;
}

.roundall {
  border-radius: 8px;
}

.rTop {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rTop {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.halfHeight {
  height: 50%;
}

.halfWidth {
  width: 50%;
}

.hundred {
  height: 100%;
  max-width: 100%;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

*, h1, h2, h3, h4, h5, h6 {
  color: #fff;
  outline: none !important;
}

h2 {
  font-family: "League";
  font-size: 3em;
  font-weight: 900;
  margin: 0%;
}

p {
  color: #000;
  font-size: 1.3em;
}

body, html {
  height: 100%;
}

body {
  font-family: "League";
  text-transform: lowercase;
}

html,
body,
.mainRow,
.contentHolder,
.centered {
  max-width: 100%;
}
/*end rules****************************/







/*content*/
.contentHolder {
  z-index: 999999;
}

.off-canvas-wrap.contentHolder {
  overflow-y: scroll;
}

.innerWrap {
  bottom: 0;
  color: #FFFFFF;
  position: absolute;
}

.halfHeight.bg {
  min-height: 300px;
}

.header {
  background: none repeat scroll 0 0 #90392B;
  color: #FFFFFF;
  font-family: "Market";
  height: 68px;
  line-height: 3.5rem;
  padding: 0 2%;
  text-align: right;
  text-decoration: underline;
  width: 100%;
}

.halfHeight p {
  background: url(patternhead-helvetica1b-thumb.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-weight: 800;
  margin: 0;
  padding: 90px 6% 30px;
  text-align: justify;
}

.intro .bg {
  background: url(800_promo.jpg) repeat scroll left top transparent;
}

.summary .bg {
  background: url(800_celldivsion.jpg)repeat scroll left top transparent;
}

.work .bg {
  background: url(880_robotbbq.png) repeat scroll left -40px rgba(0, 0, 0, 0);
}

.education .bg {
  background: url(800_zipper.jpg) repeat scroll left top transparent;
}

.about .bg {
  background: url("FreeVector-Vector-Sky.jpg") repeat scroll left -340px rgba(0, 0, 0, 0);
}




/*footer*/

.row.footer {
  bottom: 0;
  max-width: 100%;
  padding-left: 16.7%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99999999;
}

.footer p {
  background: none repeat scroll 0 0 #90392B;
  /*border-top-left-radius: 8px;*/
  /*border-top-right-radius: 8px;*/
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.1em;
  margin: 0;
  text-align: center;
  width: 100%;
}




/*1024px & higher*/
@media screen and (min-width: 1025px) {
.hoverNavLarge {
  display: block !important;
  font-size: 1.7rem;
  height: 100%;
  line-height: 6rem;
  list-style: none outside none;
  margin: 0;
  padding-top: 4%;
  text-align: center;
  width: 16.7%;
}

.hoverNavLarge:hover a {
  color: #FFFFFF;
}

}
/*end 1024px & higher****************************/




/******************** 1024px & lower ********************/
@media screen and (max-width: 1024px) {
/*animations*/
.rotateActive {
  -webkit-transition: -webkit-transform 0.7s ease-in;
  -webkit-transform: rotate(0deg);
  -moz-transition: -moz-transform 0.7s ease-in;
  -moz-transform: rotate(0deg);
  -ms-transition: transform 0.7s ease-in;
  -ms-transform: rotate(0deg);
  transition: transform 0.7s ease-in;
  transform: rotate(0deg);
}

.rotateInactive {
  -webkit-transition: -webkit-transform 1s ease-in;
  -webkit-transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.7s ease-in;
  -moz-transform: rotate(-180deg);
  -ms-transition: transform 0.7s ease-in;
  -ms-transform: rotate(-180deg);
  transition: transform 0.7s ease-in;
  transform: rotate(-180deg);
}


/******************** navigation ********************/
.nav {
  display: none;
}

a.menu {
  background: url(arrow-down.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block !important;
  height: 30px;
  left: 50%;
  position: fixed;
  width: 30px;
  z-index: 9;
}

a.menu#down {
  bottom: 5px;
}

a.menu#up {
  background: url(arrow-up.png) no-repeat scroll 0 0 transparent;
  top: 5px;
}

a#sections.threedotmenu {
  background: url(menu.png) no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
  display: block !important;
  height: 30px;
  left: 1%;
  position: fixed;
  top: 40%;
  width: 35px;
  z-index: 9;
}

.hoverNav {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  left: 0.8%;
  list-style: none outside none;
  padding: 12px 0 15px;
  text-align: center;
  top: 43%;
  width: 150px;
  z-index: 1;
}

.hoverNav li a {
  color: #fff;
}

/*general*/
p {
  font-size: 1.2em;
}
/*end 1024px & lower****************************/


/* 720px $ lower */
@media screen and (max-width : 720px) {
.education .bg {
  background-position: -330px 0;
}

}




/*ie